# Node.js
node_modules/

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos sensíveis
.env
.env.local
google-services.json
GoogleService-Info.plist

# Logs
*.log
*.tmp
build/

# android
android/